{% extends "layout.html" %}

{% block body %}
<div class="col-sm-3 col-sm-offset-4 col-md-3 main">

  <p class="h3" align="center">Community Summary</p>
  <p class="h4" align="center">To date, our community has benchmarked:</p>
    <div class="table-responsive center-block" >
      <table class="table">
        <tr>
          <td align="center" style="border:none">
            <p style="font-weight: bold; font-size: 2.5em">{{assets}}</p>
            <p class="">Assets Benchmarked</p>
          </td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td align="center" style="border:none">
            <p style="font-weight: bold;font-size: 1.8em">{{fileSizes}}</p>
            <p>Memory Used on Ads</p>
          </td>
          <td align="center" style="border:none">
            <p style="font-weight: bold; font-size: 1.8em">{{loadTimes}}</p>
            <p>Network Time Spent on Ads</p>
          </td>
        </tr>
      </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#latest').addClass('active');
</script>
{% endblock %}
