{% extends "layout.html" %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <p class="h1" align="center">Community Summary</p>
  <p style="font-size: 1.5em" align="center">To date, our community has benchmarked:</p>
    <div class="table-responsive center-block" >
      <table class="table">
        <tr>
          <td align="center" style="border:none">
            <p style="font-weight: bold; font-size: 6em">{{assets}}</p>
            <p style="font-size: 1.3em">Assets Benchmarked</p>
          </td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td align="center" style="border:none">
            <p style="font-weight: bold;font-size: 3.6em">{{fileSizes}}</p>
            <p style="font-size: 1.3em">Memory Used on Ads</p>
          </td>
          <td align="center" style="border:none">
            <p style="font-weight: bold; font-size: 3.6em">{{loadTimes}}</p>
            <p style="font-size: 1.3em">Network Time Spent on Ads</p>
          </td>
        </tr>
      </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#latest').addClass('active');
</script>
{% endblock %}
