<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Site-Sonar Dashboard</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body>
    <!--                                                                                               -->
    <!--  I'M REALLY HAPPY FOR YOU AND IMMA LET YOU FINISH                                             -->
    <!--                                                                                               -->
    <!--                                                                                               -->
    <!--                                 .;.                                                           -->
    <!--                            `;';'',.''.                                                        -->
    <!--                           :';''+++#++'+;'                                                     -->
    <!--                          ;+;''+'+;+++;+++''`                                                  -->
    <!--                        `;++';;++'';'''+'''+++                                                 -->
    <!--                       `''''';;;';:;;';'''+'++;                                                -->
    <!--                       +;;:',':;'::,:;;;;;'++++.                                               -->
    <!--                      ''++;'::,.::::,.`,:;''''+'                                               -->
    <!--                     :+++;'';';::::..`.`,:;;''''@                                              -->
    <!--                    `;'+'+++'::;;::,.````:;;;''''                                              -->
    <!--                    :#++'+';+;;:;:.,:```..;;'''''                                              -->
    <!--                    '+++';;';;;;;::::,....;'''''';                                             -->
    <!--                    '#+'''++;;;';:::::,.,.:''''''@                                             -->
    <!--                    +'+'+'''';';::::,,,:,,:;''''''                                             -->
    <!--                    +++'++;;;;;''::,,,::,,:;;;'''+                                             -->
    <!--                    :'+';''''++;;::::,::,,'+###+###                                            -->
    <!--                     +'''':,'''#+:,,,,,::'+#@@##@##                                            -->
    <!--                     #+'':';#;;'';:##;::;+:+@@@@@@@                                            -->
    <!--                     ###++:;,';'';;:,:#+;+'@@##@@@.                                            -->
    <!--                     .'+#;;+,+,;;;;;:,,'+;#@@@@+@@                                             -->
    <!--                      ##+:;.;:;:;;;;:,.,:#@##@+,;@                                             -->
    <!--                    `++++#;;:;';;;;;::,::'@#@#;,:.                                             -->
    <!--                    +@++'+@:':,';;:;;::;;;@@##::::                                             -->
    <!--                    '#@+''+#+:;;;;;;;;::;;##@,,;:;                                             -->
    <!--                    #++'''';;@+'';;;;;;;;''#:+@##                                              -->
    <!--                   ;##+''''';;''';;;';;;;'';:;'+.                                              -->
    <!--                ;,+#++##'';;;;+++''''''';;'+:;++.+++:;;+:                                      -->
    <!--              `+'++++#+#+';;;;'++++'''';;'######++++';+::'                                     -->
    <!--             `:`'++'#+'+#';;;;;'#+++++'''#; .:#++#+,.::::+'                                    -->
    <!--           .`,'+:+#+''#;##';;;''+##+++''++;;;:;+++#:`'::''';                                   -->
    <!--       , .+#+'#;++#+++'#;##;;';'++##++++#  ''++#++,++#;:'@;'':                                 -->
    <!--        ++++++:++,'##'++###+';''+####++   ''####,:#++;'#::''';                                 -->
    <!--      ;+;,.+++++++'''++#+###';;''+#@@      +'+#@'''##+''::,';;';.                              -->
    <!--       ,,.,++'''##+#+;@'####@;;''+++         '''##,.':.':;;'''                                 -->
    <!--    ``  `''++''+++#+##;#+###@+''+++            @+';;##:','::'#;:'                              -->
    <!--    , +,++++++++''##'##;++##@@'++++              ',:+#@;';,'@#;:'                              -->
    <!--   :''++++++###;:#+#+;##'#####''++'+              ;,..:;':;.+#',;                              -->
    <!--   ''+++++'#'+++#++#++;##+####'''''+              ';:`,:,,+#;+##;                              -->
    <!--  ''+++++''';''+++++#++++#++##@'''''#,+            +:,,#@@@@#:;';`                             -->
    <!-- `'+++++'''''''+++++#''#++#++@@@';'+':+            +:,::#@@@#;;':                              -->
    <!-- ;+++++++''''''+#++++++;#++'++@+@;'';:+#+        ++#':,,:,+#@#;:##                             -->
    <!--+++++++++';;;'++##+++'''+##'+#@'+;;;;++#@      +++##+'::,.#@@#+:##                             -->
    <!-- ++++#++++++'''+++##+++''#+#####@##:::'+@@#    ++@####+;::,##@#',##                            -->
    <!--                                                                                               -->
    <!--                                                                                               -->
    <!--  BUT ULTRA-LIGHTBEAM                                                                          -->
    <!--  IS THE BEST WEB-EXTENSION OF ALL TIME                                                        -->
    <!--                                                                                               -->

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Site-Sonar</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="https://github.com/FrancescoSTL/Site-Sonar">Download</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>

    <div class="container">
      <div class="row vertical-center">
        <div class="col-md-7">
          <h1 style="font-weight:light">Slow ads are bad.</h1>
          <p class="subheading">Browse the web, help us collect data, keep ad networks accountable.</p>
          <a href="https://github.com/FrancescoSTL/Site-Sonar" class="btn btn-download btn-lg">Download</a>
        </div>
        <div class="col-md-5" id="desktop-icon">
          <img src="/img/desktop-icon.gif" width="70%">
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <p class="quote">"If we can aggregate enough data, we will get a better picture of the ad landscape for networks across the web."</p>
        <p class="title">-<strong>Francesco Polizzi</strong>, <i>Creator of Site-sonar</i></p>
      </div>
    </div>

    <div class="jumbotron subsection-white">
      <div class="container">
        <p class="subheading subheading-dark">How it works</p>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4" id="how-it-works">
            <ol>
              <li>Download Site-sonar addon for <a href="https://addons.mozilla.org/en-US/firefox/addon/sitesonar/"><span class="emphasis">Firefox</span></a>, or for
               <a href="https://chrome.google.com/webstore/detail/site-sonar/lpcnigiahglfjiepmmnjcikgecjkfhgc"><span class="emphasis">Chrome</span></a>.</li>
              <li><span class="emphasis">Browse</span> the web.</li>
              <li>We silently benchmark sites while you browse.</li>
              <li><a href="/dashboard"><span class="emphasis">View</span></a> data on our dashboard.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron subsection-dark">
      <div class="container">
        <p class="subheading subheading-light">Who are we?</p>
        <br>
        <div class="row">
          <div class="col-md-3">
            <a href="https://twitter.com/PottsJustin/">
              <img src="/img/justinpotts.jpg" class="img-thumbnail" alt="Justin Potts" width="120" height="120">
              <p class="img-caption">Justin Potts<p>
            </a>
          </div>
          <div class="col-md-3">
            <a href="http://francesco.tech/">
              <img src="/img/francescopolizzi.jpg" class="img-thumbnail" alt="Francesco Polizzi" width="120" height="120">
              <p class="img-caption">Francesco Polizzi</p>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://www.linkedin.com/in/purukaushik">
              <img src="/img/purushswaminathan.jpg" class="img-thumbnail" alt="Purush Swaminathan" width="120" height="120">
              <p class="img-caption">Purush Swaminathan</p>
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://asadotzler.com/">
              <img src="/img/asadotzler.jpeg" class="img-thumbnail" alt="Asa Dotzler" width="120" height="120">
              <p class="img-caption">Asa Dotzler</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>
        <a href="/dashboard">Dashboard</a>
        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        <a href="https://github.com/FrancescoSTL/Site-Sonar">Download</a>
        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        <a href="/contact">Contact</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- GA Script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82101385-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
