<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ultra-Lightbeam Dashboard</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Ultra-Lightbeam</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/dashboard">Dashboard</a></li>
          <li><a href="https://github.com/FrancescoSTL/Ultra-Lightbeam">Download</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>

    <div class="container-fluid">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="latest"><a href="/dashboard">The Latest 100</a></li>
            <li id="worst-load-time"><a href="/timeByAdNetwork">Worst Ad Network Load Time</a></li>
            <li id="sites-by-file-size"><a href="/sitesbyfilesize">Records by File Size</a></li>
            <li id="networks-by-file-size"><a href="/networksbyfilesize">Networks by File Size</a></li>
          </ul>
        </div>
        {% block body %}
        {% endblock %}
      </div>

    </div> <!-- /container -->

    <script
			  src="http://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
