<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A project aimed at identifying ad networks with the fastest and slowest performing ad's on the internet through crowd-sourced, easy to understand, and openly accessible benchmarking data.">
    <meta name="keywords" content="Ad networks, Advertisements, Ad-block, adblock, benchmarking ads, ad performance, ad metrics">
    <title>Site-Sonar Dashboard</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Site-Sonar</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/dashboard">Dashboard</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://github.com/FrancescoSTL/Site-Sonar"><b>Download</b></a></li>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
          <form class="navbar-form" role="search" method="get" action="/search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="query" id="srch-term">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="input-group" id="hidden">
              <div class="radio">
                <label>
                  <input type="radio" name="searchBy" value="adNetwork" checked> Networks
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="searchBy" value="originUrl"> Sites 
                </label>
              </div>
            </div>
          </form>
        </div>
      </div><!--/.nav-collapse -->
    </nav>

    <div class="container-fluid">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="latest"><a href="/dashboard">Overview</a></li>
            <li id="sites-by-file-size"><a href="/sitesbyfilesize">Website Ad Sizes</a></li>
            <li id="sites-by-load-time"><a href="/sitesbyloadtime">Website Load Times</a></li>
            <li id="networks-by-file-size"><a href="/networksbyfilesize">Network Ad Sizes</a></li>
            <li id="networks-by-load-time"><a href="/networksbyloadtime">Network Ad Load Times</a></li>
          </ul>
        </div>
        {% block body %}
        {% endblock %}
      </div>

    </div> <!-- /container -->


    <script src="https://use.fontawesome.com/383724b71c.js"></script>

    <!-- jquery -->
    <script
      src="http://code.jquery.com/jquery-3.1.0.min.js"
      integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
      crossorigin="anonymous"></script>
    <!-- D3 JS-->
    <script src="https://cdn.plot.ly/plotly-1.16.2.min.js" integrity="sha384-EMCCV6Uj3sFiLlamQGLnkK+YeYTXQ3yWby4LpGeCQ5J4t8W5Fw+sQj62QsQdxugx" crossorigin="anonymous"></script>
    <!-- GA Script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82101385-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- If page is /search, enable radio buttons-->
    <script>
      var page = window.location.href;
      if (page.includes("search")) {
        var div = document.getElementById("hidden");
        div.style.display = 'block';
      }
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
