{% extends "layout.html" %}
{% block body %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Network Overview: {{network}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Assets Benchmarked</th>
                <th>Average File Size Per Ad</th>
                <th>Average Load Time Per Ad (TTFB)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{overall[0].count}}</td>
                <td>{% if overall[0].averageFileSize/1024<1 %}
                    {{overall[0].averageFileSize}} Bytes
                    {% else %}
                    {{(overall[0].averageFileSize/1024)|round|int}} KB
                    {% endif %}</td>
                <td>{{overall[0].averageLoadTime}} ms</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3 class="sub-header">Type of Ad Assets used by this Network</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ad Asset Type</th>
                <th>Average File Size Per Ad Asset</th>
                <th>Average Load Time Per Ad Asset (TTFB)</th>
                <th>Assets Benchmarked</th>
            </tr>
            </thead>
            <tbody>
            {% for assetType in assetTypes %}
            <tr>
                <td>{{assetType._id}}</td>
                <td>{% if assetType.averageFileSize/1024<1 %}
                {{assetType.averageFileSize}} Bytes
                {% else %}
                {{(assetType.averageFileSize/1024)|round|int}} KB
                {% endif %}</td>
                <td>{{assetType.averageLoadTime}} ms</td>
                <td>{{assetType.count}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3 class=" sub-header">Ad Load Time and File Size Distribution</h3>
    <div id="loadTimeHist" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
    <div id="fileSizeHist" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#networks-by-file-size').addClass('active');



  var fileSizes = [], loadTimes = [];


  {% for record in records %}
    fileSizes.push({{record.fileSize}});
    loadTimes.push({{record.loadTime}});
  {% endfor %}

  /* TODO: Fix outliers. */


  /* Network histograms*/
  var network = "{{network}}";

  var fileSizeHist = [
    {
      x: fileSizes,

      type: 'histogram',
      marker: {
        color: '#9C56B8',
      },

    }
  ];
  
  var fileSizeHistLayout = {
    autosize: false,
    width: "100%",
    height: "100%",
    margin: {
      l: 50,
      r: 50,
      b: 100,
      t: 100,
      pad: 4
    },
    title: "Distribution of fileSizes for " + network,
    xaxis: {
      title: 'fileSize in Bytes',
      titlefont: {
        family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
        size: 18,
        color: '#7f7f7f'
      }
    },
    yaxis: {
      title: 'Count',
      titlefont: {
        family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
        size: 18,
        color: '#7f7f7f'
      },
      type: 'log'
    }
  };
  
  Plotly.plot('fileSizeHist', fileSizeHist, fileSizeHistLayout);

  var loadTimeHist = [
      {
          x: loadTimes,

          type: 'histogram',
          marker: {
              color: '#9C56B8',
          },

      }
  ];

  var loadTimeHistLayout = {
      autosize: false,
      width: "100%",
      height: "100%",
      margin: {
          l: 50,
          r: 50,
          b: 100,
          t: 100,
          pad: 4
      },
      title: "Distribution of asset load times for " + network,
      xaxis: {
          title: 'loadTime in ms',
          titlefont: {
              family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
              size: 18,
              color: '#7f7f7f'
          }
      },
      yaxis: {
          title: 'Count',
          titlefont: {
              family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
              size: 18,
              color: '#7f7f7f'
          },
          type: 'log'
      }
  };
  Plotly.plot('loadTimeHist', loadTimeHist, loadTimeHistLayout);

</script>
{% endblock %}
