{% extends "layout.html" %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">The Latest 100</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Origin</th>
          <th>Ad Network</th>
          <th>Complete Time</th>
          <th>File Size</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{record.originUrl}}</td>
          <td>{{record.adNetwork}}</td>
          <td>{{record.assetCompleteTime}} ms</td>
          <td>{{record.fileSize}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#sites-by-file-size').addClass('active');
</script>
{% endblock %}
