{% extends "layout.html" %}
{% block body %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">{{site}} Website Summary</h2>
    <div class="table-responsive center-block" >
        <table class="table">
            <tr>
                <td align="center" style="border:none">
                    <p style="font-weight: bold; font-size: 4em">{{overall[0].count}}</p>
                    <p style="font-size: 1.3em">Assets Benchmarked</p>
                </td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td align="center" style="border:none">
                    <p style="font-weight: bold;font-size: 2.4em">{% if overall[0].averageFileSize/1024<1 %}
                        {{overall[0].averageFileSize}} Bytes
                        {% else %}
                        {{(overall[0].averageFileSize/1024)|round|int}} KB
                        {% endif %}</p>
                    <p style="font-size: 1.3em">Average File Size per Ad Asset</p>
                </td>
                <td align="center" style="border:none">
                    <p style="font-weight: bold; font-size: 2.4em">{{overall[0].averageLoadTime}} ms</p>
                    <p style="font-size: 1.3em">Average Network Time per Ad Asset</p>
                </td>
            </tr>
        </table>
    </div>
    <h3 class="sub-header">Most Frequent Ad Networks on this Site</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ad Network</th>
                <th>Average File Size Per Ad</th>
                <th>Average Load Time Per Ad (TTFB)</th>
                <th>Assets Benchmarked</th>
            </tr>
            </thead>
            <tbody>
            {% for each in networkWiseStats %}
            <tr>

                <td>{{each._id}}</td>
                <td>{% if each.averageFileSize/1024<1 %}
                    {{each.averageFileSize}} Bytes
                    {% else %}
                    {{(each.averageFileSize/1024)|round|int}} KB
                    {% endif %}</td>
                <td>{{each.averageLoadTime}} ms</td>
                <td>{{each.count}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3 class="sub-header">Types of Ad Assets on this Site</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ad Asset Type</th>
                <th>Average File Size Per Ad Asset</th>
                <th>Average Load Time Per Ad Asset (TTFB)</th>
                <th>Assets Benchmarked</th>
            </tr>
            </thead>
            <tbody>
            {% for assetType in assetTypes %}
            <tr>
                <td>{{assetType._id}}</td>
                <td>{% if assetType.averageFileSize/1024<1 %}
                {{assetType.averageFileSize}} Bytes
                {% else %}
                {{(assetType.averageFileSize/1024)|round|int}} KB
                {% endif %}</td>
                <td>{{assetType.averageLoadTime}} ms</td>
                <td>{{assetType.count}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3 class="sub-header">Ad Load Time and File Size Distribution</h3>
    <div id="loadTimeHist" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
    <div id="fileSizeHist" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
</div>
{% endblock %}
{% block scripts %}

<script>
    var fileSizes = [], loadTimes = [];


    {% for record in records %}
    fileSizes.push({{record.fileSize}});
    loadTimes.push({{record.loadTime}});
    {% endfor %}

    /* TODO: Fix outliers. */

    /* Network histograms*/
    var site = "{{site}}";

    var fileSizeHist = [
        {
            x: fileSizes,
            type: 'histogram',
            marker: {
                color: '#9C56B8',
            },

        }
    ];

    var fileSizeHistLayout = {
        autosize: false,
        width: "100%",
        height: "100%",
        margin: {
            l: 50,
            r: 50,
            b: 100,
            t: 100,
            pad: 4
        },
        title: "Distribution of File Sizes for " + site,
        xaxis: {
            title: 'File Size in Bytes',
            titlefont: {
                family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
                size: 18,
                color: '#7f7f7f'
            }
        },
        yaxis: {
            title: 'Assets Benchmarked',
            titlefont: {
                family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
                size: 18,
                color: '#7f7f7f'
            },
            type: 'log'
        }
    };

    Plotly.plot('fileSizeHist', fileSizeHist, fileSizeHistLayout);

    var loadTimeHist = [
        {
            x: loadTimes,

            type: 'histogram',
            marker: {
                color: '#9C56B8',
            },

        }
    ];

    var loadTimeHistLayout = {
        autosize: false,
        width: "100%",
        height: "100%",
        margin: {
            l: 50,
            r: 50,
            b: 100,
            t: 100,
            pad: 4
        },
        title: "Distribution of Ad Load Times for " + site,
        xaxis: {
            title: 'Ad Load Time in ms',
            titlefont: {
                family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
                size: 18,
                color: '#7f7f7f'
            }
        },
        yaxis: {
            title: 'Assets Benchmarked',
            titlefont: {
                family: "HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif",
                size: 18,
                color: '#7f7f7f'
            },
            type: 'log'
        }
    };
    Plotly.plot('loadTimeHist', loadTimeHist, loadTimeHistLayout);

</script>
{% endblock %}

