{% extends "layout.html" %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Sites by Average Ad Load Time</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Website</th>
          <th><a href="/sitesbyloadtime?sort=true">Average Ad Load Time</a></th>
          <!-- <th>Distribution (ms)</th> -->
          <th>Assets Benchmarked</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td><a href="/sitestats?site={{record._id}}">{{record._id}}</a></td>
          <td>{{record.avgLoadTime}} ms</td>
          <!-- <td>{{record.low}} - {{record.high}}</td> -->
          <td>{{record.count}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#sites-by-load-time').addClass('active');
</script>
{% endblock %}
