{% extends "layout.html" %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Sites by Average Ad File Size</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Website</th>
          <th><a href="/sitesbyfilesize?sort=true">Average File Size Per Ad</a></th>
          <th>Distribution</th>
          <th>Assets Benchmarked</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{record._id}}</td>
          <td>
            {% if record.fileSize/1024<1 %}
            {{record.fileSize}} Bytes
            {% else %}
            {{(record.fileSize/1024)|round|int}} KB
            {% endif %}
          </td>
          <td>
            {% if record.low/1024<1%}
              {{record.low}} Bytes
            {% else %}
              {{ (record.low/1024)|round|int }} KB
            {% endif %}
            -
            {% if record.high/1024<1 %}
              {{record.high}} Bytes
            {% else %}
              {{(record.high/1024)|round|int}} KB
            {% endif %}
          </td>
          <td>{{record.count}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#sites-by-file-size').addClass('active');
</script>
{% endblock %}