{% extends "layout.html" %}

{% block sidebar %}
<li><a href="/dashboard">The Latest 100</a></li>
<li class="active"><a href="/timeByAdNetwork">Worst Ad Network Load Time</a></li>
<li><a href="/sitesbyfilesize">Sites by File Size</a></li>
<li><a href="/networksbyfilesize">Networks by File Size</a></li>
{% endblock %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">The Latest 100</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ad Network</th>
          <th>Average Load Time</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{record._id}}</td>
          <td>{{record.avgLoadTime}} ms</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
