@media screen and (max-width: 600px) {
 #desktop-icon {
 visibility: hidden;
 clear: both;
 float: left;
 margin: 10px auto 5px 20px;
 display: none;
 }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.navbar-default {
  background-color: white;
  -webkit-box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
}

.navbar-default .navbar-brand {
  color: #9c56b8;
}

.container-fluid {
  padding-top: 25px;
}

.btn-download {
  background-color: white;
  color: #9c56b8;
  border-color: #9c56b8;
}

.btn-download:hover {
  background-color: #9c56b8;
  color: white;
  border-color: #7a4390;
}

.quote {
  color: #5c5c5c;
  font-size: 30px;
  text-align: center;
}

.title {
  color: #9c56b8;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.subheading-dark {
  color: #9c56b8;
  font-size: 36px !important;
}

.subheading-light {
  color: white;
  font-size: 36px !important;
}

.subsection-white {
  background-color: white;
  text-align: center;
}

.subsection-dark {
  background-color: #343434;
  text-align: center;
}

#how-it-works {
  text-align: justify;
  font-size: 20px;
  line-height: 40px;
}

.emphasis {
  color: #9c56b8;
  font-weight: bold;
}

.img-caption {
  color: white;
  padding-top: 10px;
}

.footer {
  color: #9c56b8;
  text-align: center;
  padding-bottom: 10px;
}

a {
  color: #9c56b8;
}

a:hover {
  color: #7a4390;
  text-decoration: none;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color: #5C5C5C;
  height: 75%;
}

h1 {
  font-weight: 300;
  font-size: 72px;
  color: #9c56b8;
}

.jumbotron h2 {
  color: #9c56b8;
}

.subheading {
  font-size: 30px;
  font-style: italic;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.privacy-list {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.privacy-list p {
  font-size: 15px;
}

.privacy-list li {
  text-align: left;
  font-size: 15px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #9c56b8;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#hidden{
  display: none
}

.table-responsive
{
  overflow-x: auto;
}